<!doctype html>
<html lang="en">

<head>
    <title>Path Finding Visualizer</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport" /> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--  Fonts and icons  -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <!-- Material Kit CSS -->
    <link href="/css/material-kit.min.css?v=2.0.4" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />

</head>

<body>

    <div class="card" style="margin-bottom: 8px;">
        <div class="card-header card-header-custom text-center" id="title">
            <p> Path Finding Visualizer </p>
            <div class="row d-flex justify-content-center">
                <div>
                    <div class="dropdown">
                        <button class="btn btn-custom dropdown-toggle " type="button" data-toggle="dropdown" id="mazeDropbox">Maze Algorithms
                                <span class="caret"></span>
                            </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="generateMaze('recursive')">Recursive Divison</a></li>
                            <li><a href="#" onclick="generateMaze('random')">Random</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-custom" onclick="resetGrid()">Clear Grid</button>
                </div>

                <div class="ml-3">
                    <div class="dropdown">
                        <button class="btn btn-custom dropdown-toggle " type="button" data-toggle="dropdown" id="algorithmDropbox">Algorithm
                                            <span class="caret"></span>
                                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="selectAlgorithm('bfs')">BFS</a></li>
                            <li><a href="#" onclick="selectAlgorithm('dfs')">DFS</a></li>
                            <li><a href="#" onclick="selectAlgorithm('dijkstra')">Dijkstra's</a></li>
                            <li><a href="#" onclick="selectAlgorithm('greedyBFS')">Greedy BFS</a></li>
                            <li><a href="#" onclick="selectAlgorithm('astar')">A *</a></li>
                            <li><a href="#" onclick="selectAlgorithm('swarn')">Swarn</a></li>

                        </ul>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-custom" onclick="solveMaze()">Visualize</button>
                </div>

                <div>
                    <button type="button" class="btn btn-custom ml-3 mr-2" onclick="setRandomWeight()" id="weight" work="add">Add Weight</button>
                </div>

                <div>
                    <button type="button" class="btn btn-custom mx-2" onclick="clearPath()">Clear Path</button>
                </div>

                <div style="width: 180px;">
                    <div class="text-center">
                        Animation speed
                    </div>
                    <div id="slider" class="slider"></div>
                </div>


            </div>
        </div>
        <div class="card-body" id="grid-container">
            <table id="grid"></table>
        </div>
    </div>
    <div class="copyright text-center">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons " style="font-size: 15px; ">favorite</i> by
        <a href="https://www.linkedin.com/in/praneetmehta11/ " target="_blank ">Praneet Mehta</a> for the better visualization.
    </div>
    <!-- <p class=text-center> ssfsf</p> -->
    <!--   Core JS Files   -->
    <script src="/js/core/jquery.min.js " type="text/javascript "></script>
    <script src="/js/core/popper.min.js " type="text/javascript "></script>
    <script src="/js/core/bootstrap-material-design.min.js " type="text/javascript "></script>
    <script src="/js/plugins/moment.min.js "></script>
    <script src="/js/plugins/nouislider.min.js "></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <!-- <script async defer src="https://buttons.github.io/buttons.js "></script> -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="/js/material-kit.min.js?v=2.0.4 " type="text/javascript "></script>

    <script src="/js/priorityQueue.js " type="text/javascript "></script>
    <script src="/js/main.js " type="text/javascript "></script>


</body>

</html>