html,
body {
    padding: 0px 5px 0px 5px;
}

.card .card-header p {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card .card-header-custom,
.card.bg-custom,
.card.card-rotate.bg-custom .front,
.card.card-rotate.bg-custom .back {
    width: 100vw;
    padding-left: -50px;
    margin-left: -10px;
    background: rgb(48, 237, 255);
    background: linear-gradient(60deg, rgba(48, 237, 255, 1) 0%, rgba(0, 117, 255, 1) 100%);
}

#grid-container {
    padding: 0px;
}

#grid {
    margin: auto;
    margin-top: 15px;
}

.wall {
    /* background: #155559; */
    /* background: #1d1033; */
    background: #01041d;
    border: solid #000000 0.1px;
    /* border: solid black 0.1px; */
}

.start {
    /* background-color: white; */
    background-image: url("/left-and-right-arrows.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.end {
    /* background-color: white; */
    background-image: url("/bullseye.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

table td {
    border: solid #8787fa 0.1px;
    padding: 0px;
    margin: auto;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scale-up-center {
    animation: scale-up-center .5s ease-in-out backwards;
    /* border: solid #155559 0.1px; */
}

@keyframes scale-up-center {
    0% {
        transform: scale(0);
        border-radius: 100%;
    }
    25% {}
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.visited-animation {
    animation: visited-animation 1s ease-in-out backwards;
    /* border: solid black 0.1px; */
}

.visited {
    background-color: #ae80ff;
    border: solid black 0.1px;
}

@keyframes visited-animation {
    0% {
        transform: scale(0);
        border-radius: 100%;
    }
    25% {
        background-color: #45474a;
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.path {
    background-color: rgb(61, 125, 209);
    /* background-color: rgb(80, 228, 178); */
    border: solid black 0.1px;
}

.btn {
    font-size: 16px;
}

.btn.btn-custom {
    color: #fff;
    background-color: rgba(0, 65, 106, 0.61);
    /* background-color: #1F75FE; */
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, .14), 0 3px 1px -2px rgba(0, 188, 212, .2), 0 1px 5px 0 rgba(0, 188, 212, .12);
}

body ul:hover li:hover a:hover {
    color: #fff;
    /* background-color: #00bcd4; */
    background-color: #1F75FE;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, .14), 0 3px 1px -2px rgba(0, 188, 212, .2), 0 1px 5px 0 rgba(0, 188, 212, .12);
}

#slider .noUi-connect {
    background-color: #1560bd;
}